body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

:root {
  /* Spacing */
  --spacing-horizontal-small: 1rem;
  --spacing-vertical: 1.5rem;
  --spacing-vertical-small: 1rem;
  --spacing-vertical-xx-large: 3rem;
  --spacing-vertical-xxx-large: 4.25rem;
  --spacing-horizontal-xx-small: 0.25rem;
}
